<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ShopStop</title>
    <link rel="icon" href="../../content/images/favicon.ico"/>
    <link rel="stylesheet" href="../../content/styles/site.css">
</head>
<body>
<header>
    <nav class="nav">
        <ul>
            <li><a href="/">Home Page</a></li>
            <li><a href="/product/add">Add Product</a></li>
            <li><a href="/category/add">Add Category</a></li>
        </ul>
    </nav>
</header>

<main>
    <h2 class="form-title">Add Product</h2>

    <form class="form center-form" enctype="multipart/form-data" method="post">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" class="input-field">
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <textarea name="description" id="description" cols="30" rows="10" class="input-field"></textarea>
        </div>

        <div class="form-group">
            <label for="price">Price</label>
            <input type="number" id="price" name="price" class="input-field" step="0.01">
        </div>

        <div class="form-group">
            <label for="image">Image</label>
            <input type="file" accept="image/jpeg, image/jpg, image/png" id="image" name="image" class="input-field">
        </div>

        <div class="form-group">
            <label for="group">Group</label>
            {categories}
        </div>

        <div class="form-group">
            <input type="submit" class="btn form-btn" value="Add">
        </div>
    </form>
</main>

<footer>
    <p>&copy; StopShop</p>
</footer>
</body>
</html>