<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detailed Image</title>
    <link rel="stylesheet" href="../../content/styles/styles.css">
</head>
<body>
<header>
    <nav>
        <ul>
            <li>
                <a href="{back}">Go Back</a>
            </li>

            <li>
                <a href="/">Home</a>
            </li>

            <li>
                <a href="/image/add">Add Image</a>
            </li>
        </ul>
    </nav>
</header>

<main>
    <div class="images">
        <h1>Detailed View</h1>
        {content}
    </div>
</main>
</body>
</html>