<div class="detailed-article">
    <h1>Details</h1>
    <h2 class="article-title">Title: {{title}}</h2>
    <p class="article-title">Description: {{description}}</p>
    <p class="creation-date">Created on: {{date}}</p>
    <p class="article-creator">Created By: {{creator}}</p>
</div>